name: "Check spelling"
permissions:
  contents: read
on:
  pull_request:

jobs:
  spellcheck:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - name: Check spelling
        uses: crate-ci/typos@v1.43.5
